@import url('https://fonts.cdnfonts.com/css/hk-groteks');

* {
  /* background-color: #203854; */
  background-color: #CC79BA;
  color: white;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: lighter;
}

.headings {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.three-column {
  display: flex;
}

.column-middle{
  padding: 0px;
  margin: 0px;
  flex: 50%;
  align-items: center;
  text-align: justify;
}

.letter {
  padding-bottom: 300px;
}

.column {
  flex: 33.3%;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  text-align: center;
}

.column img {
  max-width: 80%;
}

#center-aligned-text {
  text-align: center;
}

#closing {
  margin-top: 50px;
  text-align: right;
}

.answer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

button {
  background-color: #BC339E;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 0px;
  cursor: pointer;
}

.button:hover {
  background-color: #9B177E;
}

.button {
  background-color: #BC339E;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.yes {
  text-align: center;
  align-items: center;
}

.no {
  text-align: center;
  align-items: center;
}

.guitar-cover {
  padding-bottom: 2000px;
  text-align: center;
}